<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <meta charset="UTF-8">
</head>
<body>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <input type="text" th:field="*{name}" placeholder="Username" required="required">
        <input type="text" th:field="*{email}" placeholder="Email" required="required">

        <!-- Dropdowm -->
        <label>Favorite Color:</label>
        <select th:field="*{favoriteColor}">
            <option th:each="color : ${colors}" th:value="${color}" th:text="${color}"></option>
        </select>

        <!-- Radio-knapper -->
        <label>Gender:</label>
        <input type="radio" th:field="*{gender}" value="Male" > Male
        <input type="radio" th:field="*{gender}" value="Female" > Female
        <input type="radio" th:field="*{gender}" value="Other" > Other

        <!-- Checkboxes -->
        <div th:each="interest : ${interests}">
            <label th:text="${interest}"></label>
            <input type="checkbox" th:field="*{interests}" th:value="${interest}">
        </div>

        <button type="submit">Opret</button>
    </form>

</body>
</html>